<div class="newPostCont">
    <div class="content">
        <h1>Make a new post</h1>
        <form class="ui form">
            Title: {{input value=title}} <br>
            Image url: {{input value=image}} <br>
            Text: {{textarea value=text}} <br>
            <input type="submit" {{action "sendRequest" title image text}}>
        </form>
    </div>
</div>
